body{
color:green;
font-family:Verdana,Arial,Geneva,Arial Black;
font-weight:lighter;
!--background-color:rgb(220,28,235);
background-color:#ffcf79;
font-size:25px;

}
h1{
text-decoration:underline;
!..text-decoration:line-through;
font-size:150%;
text-align:center;
}
h2{
text-decoration:underline;
!..text-decoration:line-through;
font-size:1.2em;
text-align:center;
}
h3{
text-decoration:underline;
!..text-decoration:line-through;
}
p.para1{
color:red;

}
p.para2{
color:yellow;

}
p.para3{
color:purple;
font-size:15px;
line-height:1.5em;
background-color:#e5e4d7;
padding:20px 20px 20px 20px;
border:black thick double;
background-image:url(clouds.png);
}

p.para4{
color:black;
font-size:15px;
line-height:1.5em;
background-color:#e5e4d7;
padding:20px;
border-color:#296A64;
border-width:thick;
border-style:dashed;
margin:20px;
margin-top:50px;
margin-left:500px;
padding-left:40px;
border-radius:10px;
border-bottom-style:solid;
}
.imagec{
display:block;
margin-left:auto;
margin-right:auto;
padding-3px;
background-color:silver;
border-color:red;
border-width:thick;
border-style:ridge;
}

